<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pieobject | index</title>

    <!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/css/icomoon.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <link href="/static/css/counter.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->
<div id="mySpinner"></div>
<!-- preloader -->
<!-- Top Button with Smooth Scroll -->
<a href="#" id="scroll" style="display: none;"><span></span></a>
<!-- Top Button with Smooth Scroll -->
<body class="homepage">
{% include "parts/header.html" %}
<!--/header-->
{% block body %}{% endblock %}
    <section id="bottom" class="posi foter" >
        <div class="container fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <!-- <div class="col-md-2"> -->
                    <!-- <a href="/static/#" class="footer-logo"> -->
                        <!-- <img src="images\logo-black.png" alt="logo"> -->
						<!-- <h1><strong>Pieobject</strong></h1> -->
                    <!-- </a> -->
                <!-- </div> -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <!-- <h3>Company</h3> -->
								  <a href="#" class="footer-logo">
                        <!-- <img src="images\logo-black.png" alt="logo"> -->
						<h2 ><strong style="font-size:35px; color:white">Pieobject</strong></h2>
                    </a>
                                <ul>
								<li style="color:white">Website Designing Company in Jaipur – Pieobject is a one stop destination for complete web design services.</li>
                                    <!-- <li><a href="/static/#">Privacy policy</a></li> -->
                                    <!-- <li><a href="/static/#">Contact us</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <!--/.col-md-3-->

                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h3>Travel Agency</h3>
                                <ul>
                                  <li><a href="/static/#">Home</a></li>
                                    <li><a href="/static/#">About us</a></li>
                                    <li><a href="/static/#">Services</a></li>
                                    <li><a href="/static/#">Contact</a></li>
                                    <li><a href="/static/#">Enquiry</a></li>
                                </ul>
                            </div>
							
                        </div>
                        <!--/.col-md-3-->
						<div class="outer">
  <div class="inner"></div>
</div>


                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h3>Quick Links</h3>
                                <ul>
                                  <li><a href="#">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Enquiry</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/.col-md-3-->

                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h3>Contacts</h3>
                                <ul>
                                   <li><a href="#">Address: Sunny Mart, 212-213 2nd, New Aatish Market, Mansarovar, Jaipur, Rajasthan 302020</a></li>
                                    <li><a href="mailto:Par-ken@gmail.com">Email: Par-ken@gmail.com</a></li>
                                    <li><a href="tel:7891378913">Mobile: +91 78913 78913</a></li>
                                    <!-- <li><a href="/static/#">Food & Restaurant</a></li> -->
                                    <!-- <li><a href="/static/#">Travel Agency</a></li> -->
                                </ul>
									
									<style>
									a i{
									color:#ffff;
									}
									</style>
						<div class="footer-social-info wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            </div>
                        </div>
                        <!--/.col-md-3-->
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--/#bottom-->

{% include "parts/footer.html" %}
    <!--/#footer-->

    <script src="/static/js/jquery.js"></script>
	   <script>
  <!-- $(document).ready(function () { -->
    <!-- $('ul.nav > li').click(function (e) { -->
         <!-- e.preventDefault(); -->
         <!-- $('ul.nav > li').removeClass('active'); -->
         <!-- $(this).addClass('active'); -->
     <!-- }); -->
 <!-- }); -->
 $(function(){
		$('.nav a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
		$('.nav a').click(function(){
			$(this).parent().addClass('active').siblings().removeClass('active')	
		})
	})
</script>

<!-- counter  -->
<script>
	$.fn.jQuerySimpleCounter = function( options ) {
	    var settings = $.extend({
	        start:  0,
	        end:    100,
	        easing: 'swing',
	        duration: 400,
	        complete: ''
	    }, options );

	    var thisElement = $(this);

	    $({count: settings.start}).animate({count: settings.end}, {
			duration: settings.duration,
			easing: settings.easing,
			step: function() {
				var mathCount = Math.ceil(this.count);
				thisElement.text(mathCount);
			},
			complete: settings.complete
		});
	};


$('#number1').jQuerySimpleCounter({end: 12,duration: 3000});
$('#number2').jQuerySimpleCounter({end: 55,duration: 3000});
$('#number3').jQuerySimpleCounter({end: 359,duration: 2000});
$('#number4').jQuerySimpleCounter({end: 2000,duration: 2500});



  	/* AUTHOR LINK */
     $('.about-me-img').hover(function(){
            $('.authorWindowWrapper').stop().fadeIn('fast').find('p').addClass('trans');
        }, function(){
            $('.authorWindowWrapper').stop().fadeOut('fast').find('p').removeClass('trans');
        });
  </script>

<!-- header parken  -->
  <script type="text/javascript">
        $(window).on('scroll',function () {
            if($(window).scrollTop())
            {
                $('nav').addClass('black')
                // alert($("div").scrollTop());
            }
            else{
                $('nav').removeClass('black')
            }

        })
    </script>
<!-- header parken  -->

<!-- preloader -->
<!-- counter  -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/main.js"></script>
	<!-- js use for preloder -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<!-- js use for preloder -->
</body>

</html>
