{% extends "layout.html" %}
{% block body %}

    <div class="page-title" style="background-image: url(/static/images/page-title3.jpg)">
        <h1>Services</h1>
    </div>
    
    <section id="services" class="service-item">
        <div class="container">
            <div class="center fadeInDown">
                <h2>Our Service</h2>
                <p class="lead">We aim to make our service accessible to everyone.  If you need help to contact us you can ask someone else for advice. Or you can ask them to deal with us on your behalf.</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap fadeInDown">
                        <div class="pull-left">
                            <!-- <img class="img-responsive" src="images/services/ux.svg"> -->
                            <img class="img-responsive" src="/static/images/services/5.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Startup Agency</h3>
                            <p>Hydroderm is the highly desired anti-aging cream on</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="/static/images/services/3.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Finance Solution</h3>
                            <p>Hydroderm is the highly desired anti-aging cream on</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="/static/images/services/4.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Marketing &amp; SEO Agency</h3>
                            <p>Hydroderm is the highly desired anti-aging cream on</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="/static/images/services/1.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Corporate Business</h3>
                            <p>Hydroderm is the highly desired anti-aging cream on</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="/static/images/services/2.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Food &amp; Restaurant</h3>
                            <p>Hydroderm is the highly desired anti-aging cream on</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="/static/images/services/6.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Travel Agency</h3>
                            <p>Hydroderm is the highly desired anti-aging cream on</p>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
{% endblock %}
