    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <!-- &copy; 2020 <a target="_blank" href="/static/https://www.par-ken.com/" >ShapeBootstrap</a>. All Rights Reserved. -->
					© 2020 Pieobject. All Rights Reserved | Design by <a href="http://www.par-ken.com" target="_blank">Parken Solution Pvt Ltd</a></p>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/static/#">Home</a></li>
                        <li><a href="/static/#">About Us</a></li>
                        <li><a href="/static/#">Faq</a></li>
                        <li><a href="/static/#">Contact Us</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>