       <nav>

        <div class="logo">
            <strong style="color:white">Pieobject</strong>
        </div>
        <ul>
            <li><a class="active"  href="/">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
			<li><a  href="{% url 'service' %}">Services</a></li>
			<!-- <li><a  href="/static/services">Blog</a></li> -->
			<li><a href="{% url 'enquiry' %}">Enquiry</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
